div{
    border: 0px solid black;
    text-align: center;
}

#imgUser{
    border: 0px solid red;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
ion-item{
    border: 1px solid #92949c;
    border-radius: 10px;
    margin-top: 10px ;
  }
 
.secao{

    padding: 10px;
    margin-top: 10px;
}

span{
    font-size: 10pt;
    text-align: right;
    width: 100%;
    color: red;
}
ion-col{
    padding: 0px;

}



